.custom-form .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Usa rem para mejor escalabilidad */
}
.custom-form {
  width: 100%;
  max-width: 3000px; /* Asegura que el formulario no se salga en pantallas grandes */
  margin: auto; /* Centra el formulario horizontalmente */
}

.custom-form .form-row .control-group {
  flex: 1 1 48%; /* Ajustar el ancho a 48% para que quepan dos columnas */
  margin-bottom: 0.5rem; /* Usa rem para el espacio inferior */
  margin-right: 0%; /* Reduce el espacio derecho */
}

.custom-form .form-row .control-group.full-width {
  flex: 1 1 100%;
  margin-bottom: 1rem; /* Usa rem para el espacio inferior */
}

.custom-form .form-actions {
  text-align: center;
  margin-top: 1rem; /* Usa rem para el espaciado */
  width: 92.5%;
}

.custom-form .radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Usa rem para el margen inferior */
  font-size: 0.875rem; /* Usa rem para el tamaño de la fuente */
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .custom-form .form-row .control-group {
    flex: 0 0 100%;
  }
}

.custom-form .radio-label input {
  margin-right: 0.625rem; /* Usa rem para el margen derecho */
  height: 1rem;
  width: 1rem;
}

.widget-box {
  width: 90%;
  max-width: 800px; /* Asegura que el cuadro no se salga en pantallas grandes */
  margin: auto; /* Centra el cuadro horizontalmente */
  margin-bottom: 2.5rem; /* Usa rem para el margen inferior */
}

.col-md-6 {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 0.5%; /* Usa rem para el margen derecho */
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
    margin-right: 0;
  }
}