.exercise-button {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border: none;
  background: #22577a;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border-color: black;
  transition: background 0.3s;
  white-space: normal; /* Permite que el texto se envuelva */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 18px;
  font-weight: bold;
}

.exercise-buttonDos {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border: none;
  background: #495057;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  white-space: normal; /* Permite que el texto se envuelva */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 18px;
  font-weight: bold;
}

.exercise-button:hover {
  background: #0056b3;
}

.exercise-buttonDos:hover {
  background: #0056b3;
}

.exercise-button img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  vertical-align: middle;
}

.exercise-buttonDos img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  vertical-align: middle;
}

.exercise-button.selected {
  background: #28a745;
}

.exercise-buttonDos.selected {
  background: #28a745;
}

.day-container {
  margin-bottom: 20px;
}

.day-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.selected-exercises {
  margin-top: 20px;
}

.selected-exercises ul {
  list-style: none;
  padding: 0;
}

.selected-exercises ul li {
  margin: 5px 0;
}

.rutina-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.rutina-table,
.rutina-table th,
.rutina-table td {
  border: 1px solid black;
}

.rutina-table th,
.rutina-table td {
  padding: 10px;
  text-align: left;
}

.rutina-table th {
  background-color: #f2f2f2;
}
